#tableSF{
    border-collapse: separate;
}
#tdTableSF{
    display: flex; 
}
.tableButton{
    margin-right: 0.5%;
}
#substationFider, #data{
    width: 50%;
    margin-right: 45%;
    text-align: left;
}
#add_tableSF{
    margin-top: 7.1%;
    margin-left: 0.5%;
}